<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.compluter.flex"
        version     = "1.0" >

    <name>Flex</name>

    <description>
        Flexible work week time tracking.
    </description>

    <author href="http://www.compluter.com" email="c.bitsakis@gmail.com">
        Chris Bitsakis
    </author>
    
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
        <false/>
    </gap:config-file>

</widget>