<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.compluter.flex"
        version     = "1.0" >

    <name>Flex</name>

    <description>
        Flexible work week time tracking.
    </description>

    <author href="http://www.compluter.com" email="c.bitsakis@gmail.com">
        Chris Bitsakis
    </author>
    
    <preference name="permissions" value="none"/>
    
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    
    <!-- Do not auto hide splash on iOS -->
    <preference name="AutoHideSplashScreen" value="false" />
    <!-- Do not auto hide splash on Android -->
    <preference name="SplashScreenDelay" value="10000"/>
    
    <gap:plugin name="org.apache.cordova.splashscreen" />

</widget>